@tailwind base;
@tailwind components;
@tailwind utilities;

.legacy_dentist_bg {
    background-image: url('/assets/dentist-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}


.catagory_container {
    background-image: url('/assets/upArrow.png'), url('/assets/downArrow.png'), url('/assets/upArrow2.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position-x: 20%, center, 80%;
    background-position-y: top, bottom, top;
}

@media only screen and (max-width: 600px) {
    .catagory_container {
        background: none;
    }
}

/* Added Plus symbol */

.trust-plus-img-left {
    position: absolute;
    bottom: 99px;
    left: 25px;
}

.trust-plus-img-right {
    position: absolute;
    right: 30px;
    bottom: -60px;
}

.doc-plus-img-top {
    position: absolute;
    left: 220px;
    bottom: 310px;
}

.doc-plus-img-bottom{
    position: absolute;
    left: 555px;
    bottom: 20px;
}

/* Swiper */
.swiper {
    width: 90%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fafafa;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}



.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 20px !important;
    font-weight: 700;
    color: #666A7B;
    background-color: #F4F7F2;
    border: none;
    padding: 15px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}